<div class="flex-container">
    <h2>{{countryName}}</h2>
</div>
<div class="flex-container">
      <case-component label="Number of entries" [value]="nbEntry"></case-component>
      <case-component label="Total number medals" [value]="nbMedal"></case-component>
      <case-component label="Total number of athletes" [value]="nbAthlete"></case-component>
</div>
<div id="graphe">
  <canvas id="graph">
  </canvas>
</div>
<div class="flex-container">
    <a [routerLink]="['']">Retour au menu principal</a>
</div>

